asgiref==3.5.2
certifi==2022.5.18.1
charset-normalizer==2.0.12
colorama==0.4.4
distlib==0.3.4
Django==4.0.5
django-cors-headers==3.13.0
djangorestframework==3.13.1
filelock==3.7.1
future==0.18.2
gevent==21.12.0
greenlet==1.1.2
gunicorn==20.1.0
idna==3.3
platformdirs==2.5.2
PySocks==1.7.1
pytz==2022.1
requests==2.28.0
requests-file==1.5.1
six==1.16.0
sqlparse==0.4.2
tldextract==3.3.0
urllib3==1.26.9
virtualenv==20.14.1
zope.event==4.5.0
zope.interface==5.4.0
